.vscode
.apl.history
*.tmp
local.*
icvm_profile.csv
vms/*/ic
!vms/apl/ic
!vms/js/ic
vms/*/ic.exe
vms/c/*.o
vms/cs/bin
vms/cs/obj
vms/rust/target
vms/monitor/node_modules
stage1
stage2
src/bin
src/obj
test/*/bin
test/*/obj
test/test.log
