/.vscode
.apl.history
*.tmp
local.*
/vms/*/ic
!/vms/apl/ic
!/vms/js/ic
!/vms/js-fn/ic
/vms/*/ic.exe
/vms/c/*.o
/vms/c-ext/*.o
/vms/cs/bin
/vms/cs/obj
/vms/rust/target
/stage1
/stage2
/src/bin
/src/obj
/test/*/bin
/test/*/obj
/test/test.log
node_modules
